{% extends 'base.html' %}
{% block content %}
    <h1>About REMADi</h1>
    <p>REMADi (pronounced reh-mah-dee) is your remedy to your date <br>
    decision woes. Couples are always stuck thinking of what to <br>
    do and REMADi helps you decide. This app is your one stop shop <br>
    for all date ideas. Spend less time deciding, spend more quality <br>
    time together.</p>
    <h3>Meet the CRUDulators</h3>
    <div class="row">
        <div class="col s4">
            <img src="https://i.imgur.com/6SOXSMym.jpg">
            <h5>Reggie</h5>
            <h6>Documenter | API Manager</h6>
        </div>
        <div class="col s4">
            <img src="https://i.imgur.com/RSo6X7wm.jpg">
            <h5>Max</h5>
            <h6>Database | GitHub Manager</h6>
        </div>
        <div class="col s4">
            <img src="https://i.imgur.com/sSX3wc2m.jpg">
            <h5>DiAnne</h5>
            <h6>Designer | Scrum Master</h6>
        </div>  
      </div>    
{% endblock %}