{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>REMADi</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar-fixed">
    <nav class="nav-wrapper">
      <div class="container">      
        <ul>
          <li><a href="/" class="left brand-logo">REMADi</a></li>
          <a href="/" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
          </a>  
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'index' %}">Categories</a></li>
          <li><a href="{% url 'my_dates' %}">My Dates</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'index' %}">Categories</a></li>
      <li><a href="{% url 'my_dates' %}">My Dates</a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}
    </ul>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <hr>
    <div class="right">All Rights Reserved, &copy; 2021 REMADi &nbsp;</div>
  </footer>
</body>
</html>