{% extends 'base.html' %}

{% block content %}
<h1>REMADi</h1>
<p>The remedy to your date decisions woes</p>
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://i.imgur.com/7JEAmWV.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="https://i.imgur.com/LihqM4v.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="https://i.imgur.com/7FCYIny.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="hhttps://i.imgur.com/LihqM4v.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="https://i.imgur.com/l7TjoIH.jpg"></a>
</div>
{% if user.is_authenticated %}
  <a href="{% url 'index' %}"><input type="submit" class="btn" value="Let's Choose!"></a>   
{% else %}
<a href="{% url 'signup' %}"><input type="submit" class="btn" value="Let's Choose!"></a>
{% endif %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.carousel');
  var instances = M.Carousel.init(elems, {});
    // var instance = M.Carousel.getInstance(elem);
  });
</script>
{% endblock %}
    