body{
    background-color: black !important;
    color:white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
}

h5 {
    text-align: center;
}

.section {
    display: grid;
    background-color: black !important;
    color: white !important;
}

nav {
    background-color:black; 
}

.btn {
    background-color: rgb(178, 198, 45);
    display: center;
    margin-right: 50%;
}

main {
    flex: 1 0 auto;
}

.carousel .carousel-item {
    width:300px !important;
}

#id_username, #id_password1, #id_password2, #id_password {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.card-image {
    background:#161616; opacity:0.9; 
    font-style: bold;
}

.card-content {
    color: black !important;
}

.card-title {
    font-size: 35px !important;
    color: white !important;
}

.date-list {
    color: white;
}

.cat-link {
    color: #0d47a1 !important;
}

hr {
    background-color: whitesmoke !important;
}

tr {
    border: .5px solid grey !important;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: black;
}
