body{
    background-color: black;
    color:white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: helvetica;
}

nav {
    background-color:black; 
  
}

.btn {
    background-color: rgb(178, 198, 45);
    text-align: center;
    align-content: center;
}

main {
    flex: 1 0 auto;
}

#id_username, #id_password1, #id_password2 {
    background-color: white;
}

.card-content {
    color: black;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: black;
}
