{% extends 'base.html' %}

{% block content  %}
<h1>Category Date</h1>
  {% for event in events %}
    {{event.name}} 
    <form action="{% url 'my_dates' %}" method="post">
  {% csrf_token %}
    <table class="bordered">
      <thead>
        <tr>
          <th>Location</th>
          <th>Time</th>
          <th>Dates</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{event.location}}</td>
          <td>{{event.time}}</td>
          <td>{{event.dates}}</td>
          <td>{{event.price}}</td>
          <td><a href=""><input type="submit" class="btn-small waves-effect waves-light blue" value="Add To My Dates List"></a></td>
        </tr>
      </tbody>
      </table>
  {% endfor %}
{% endblock  %}