{% extends 'base.html' %}

{% block content %}

  <a href="{% url 'detail' date.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ date.name }}</span>
            <p>Category: {{ date.category }}</p>
            <p>Description: {{ date.description }}</p>
            <p>Location: {{ date.location }}</p>
            <p>Time: {{ date.time }}</p>
            <p>Dates: {{ date.dates }}</p>
            <p>Price: {{ date.price }}</p>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a> 
    </div>
  </a>
{% endblock %}