{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col s4 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/ouxNz8gh.jpg">
              <span class="card-title">AFFORDABLE DATES</span>
            </div>
            <div class="card-content">
              <p>Check out some affordable dates.</p>
            </div>
            <div class="card-action">
            
              <a href="{% url 'detail' %}">Affordable link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s8 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/p559IIJh.jpg">
              <span class="card-title">SPECIAL OCCASIONS</span>
            </div>
            <div class="card-content">
              <p>Check out some special occasion dates.</p>
            </div>
            <div class="card-action">
              <a href="{% url 'detail' %}">Special Ocassions link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/wWszkYuh.jpg">
              <span class="card-title">ADVENTUROUS DATES</span>
            </div>
            <div class="card-content">
              <p>Check out some Adventurous dates.</p>
            </div>
            <div class="card-action">
              <a href="{% url 'detail' %}">Adventurous link</a>
            </div>
          </div>
        </div>
      </div>
    
{% endblock %}
    