{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col s4 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/ouxNz8gh.jpg">
              <span class="card-title">AFFORDABLE DATES</span>
            </div>
            <div class="card-content">
              <p>Need ideas for affordable dates? Check out some options here.</p>
            </div>
            <div class="card-action">
            
              <a class="cat-link" href="{% url 'detail' %}">SEE MORE</a>
            </div>
          </div>
        </div>
        <div class="col s4 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/p559IIJh.jpg">
              <span class="card-title">SPECIAL OCCASIONS</span>
            </div>
            <div class="card-content">
              <p>Need that special date for a birthday, wedding anniversary, or big milestone, check out some options in here.</p>
            </div>
            <div class="card-action">
              <a class="cat-link" href="{% url 'detail' %}">SEE MORE</a>
            </div>
          </div>
        </div>
        <div class="col s4 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/wWszkYuh.jpg">
              <span class="card-title">ADVENTUROUS DATES</span>
            </div>
            <div class="card-content">
              <p>Need more adventure? Explore different ideas here.</p>
            </div>
            <div class="card-action">
              <a class="cat-link" href="{% url 'detail' %}">SEE MORE</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
    