{% extends 'base.html' %}

{% block content %}
  <h1>My Dates</h1>
  <div class="collection">
      {% if all_dates.count %}
      {% for alldates in all_dates.all %}
      <table class="bordered">
        <thead>
          <tr>
            <th>Location</th>
            <th>Time</th>
            <th>Dates</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{alldates.location}}</td>
            <td>{{alldates.time}}</td>
            <td>{{alldates.dates}}</td>
            <td>{{alldates.price}}</td>
            <td><div class="card-action">
            <a href="{% url 'dates_delete' alldates.id %}">Delete</a>
            {% csrf_token %}
            <input type="submit" value="DELETE" class="btn">
          </form>
          </tr>
        </tbody>
      </table>
    </div>

      {% endfor %}
      {% else %}
      <br>  
      <h4 class="date-list">No Dates Added Yet!</h4>
      {% endif %}
{% endblock %}

