{% extends 'base.html' %}

{% block content %}
  <h1>My List</h1>
  <ul class="collection">
    <li class="collection-item avatar">
      <h2 style='color:black;'>Date Ideas</h2> 
      <!-- @ DiAnne!!! Change this ^^ and add to CSS. Didn't want to touch your CSS in case you were working on it :-) -->
      {% if date.count %}
      <img src="https://i.imgur.com/RSo6X7w.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">$</a>
      {% else %}
      <br>  
      <h2 style='color:black;'>No Dates Added Yet!</h2>
      <!-- @ DiAnne!!! Change this ^^ and add to CSS. Didn't want to touch your CSS in case you were working on it :-) -->
      {% endif %}
    </li>
<!-- Add for loop to list out all the dates!!!! -->
{% endblock %}